.columna001{
    width: 20%;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgreen;
}
.columna002{
    width: 55%;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgreen;
}
.columna003{
    width: 20%;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgreen;
}
.pie03{
    width: 100%;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgreen;
}