body{
    background-image: url("../image/oso.png");
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    margin: 50px
}

h1, h2, h3 {
    color: brown;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

p a span em {
    color: yellowgreen;
    text-decoration: underline;
}
 a {
     text-decoration: none;
 }

 #menuPrincipal{
     padding: 20px;
     width: 20%;
     border-width: 5px;
     border-style: solid;
     float: left;
 }

 #seccion1{
     padding: 40px;
     width: 60%; 
     border: 4px red solid;
     float: left;
 }

 .seccion3{
    width: 78.5%; 
    border: 4px red solid;
    float: left; 
 }

 .imagen{
     width: 750px;
     height: 150px;
 }
 
 .imgPri{
    
    width: max-content;
    height: 250px;  
 }
